/*Utilizações gerais para a página inteira*/

/*REM(Root Efemeral) vs EM (Efemeral):
- “em”, é uma unidade de medida relativa ao font-size, mas especificamente o font-size na tag mãe do elemento que nós estamos utilizando, o “em”.
        > se utilizarmos o “em”, nós podemos controlar casos isolados, ao invés de controlar toda a página

-Então o “rem” é a mesma coisa, só que ao invés de ser da tag mãe, ele vai ser da tag com o maior nível hierárquico do que todos, que vai ser a tag “html”.
        > pode se adaptar para tipos diferentes de browser automaticamente, sem que nós precisemos criar ou usar outros tipos de valores que são mais inconsistente*/

/*Variáveis no CSS, basta adicionar --Nome-da-variavel: valor; 
Devemos lembrar de adicionar um seletor, como o :root (possui maior prioridade que o html)
Para chamar a variável usamos var(--nome-da-variavel)*/

:root {
        --branco: #FFF;
        --azul-claro: #DFE3E5;
        --vermelho-forte: #B72E2E;
        --cinza-escuro: #4F4C4C;
        --cinza-claro: #F7F4F4;
        --cinza-medio: #D9D9D9;
            
        --fonte-link: #0084FF;
        --fonte-cinza: #666;
        --borda-cabecalho-mobile: #103D4A;
        --bg-rodape: #333;
        --bg-chamada-mobile: #00161C;
        
        --planos-cartao-start: #56CCF2;
        --planos-cartao-ultra: #B04CD9;
        --planos-cartao-mega: #E33B3B;

        --montserrat: 'Montserrat', sans-serif;
}

body {
        font-family: 'Open Sans', sans-serif;
}

.container {
        padding-right: 6%;
        padding-left: 6%;
}

.botao {
        text-align: center;
        
        display: block;
        width: 100%;
        max-width: 350px;
        box-sizing: border-box;
        padding: 1rem 2rem;
        
        border: 1px solid var(--branco); 
        border-radius: 5px;
}